# compiled files:
*.o
*.so
*.a
# programs:
*.exe
# datafiles
*.dat
*.txt
# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*
# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.vrb
*.gz
